body {
    font: 400 15px/1.8 "Lato", sans-serif;
    width: 99vw;
    height: 200vh;
    margin: 0;
    padding: 0;
}
body::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("img/bg.jpg");
    background-size: cover;
    z-index: -1;
}
.content {
    padding: 16px;
    color: #f2f2f2;
    border: solid 1px black;
    background: rgba(0, 0, 0, 0.5);
}
footer {
    text-align: center;
    color: #f2f2f2;
}
.alert {
    background-color: rgba(255, 0, 0, 0.3);
    border: solid 1px red;
    margin: 0 auto;
    width: auto;
    padding: 0 16px;
}